.App {
  width: 100%;
  height: calc(100vh - 64px);
}


.App-link {
  color: #61dafb;
}

.appBar{
  z-index: 1500;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
